<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div class='notification is-danger is-light'>
      <h2 class='title is-5'><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :category_id, Category.all, :id, :name, include_blank: true %>

  <div class="field">
    <%= form.text_field :author_id, value: current_user_id, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
