<section class="article-container container-fluid p-5 has-background-white min-h-100">
  
  <h1 class="title"><%= @article.title %></h1>
  <h6 class="mb-5">by <%= @article.author.name %></h6>
  <br>
  <div style="
  background: url('<%= rails_blob_url(@article.image) %>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  min-height: 300px;
  "
  ></div>
  <br>
  <p>
    <%= @article.text %>
  </p>

  <%= link_to 'Back', articles_path, class:'button my-5' %>
</section>

