<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'HOME', root_path, class: 'navbar-item is-uppercase has-text-weight-semibold has-text-grey' %>

      <%= link_to 'The Americas', articles_path, class: 'navbar-item is-uppercase has-text-weight-semibold has-text-grey' %>

      <%= link_to 'Africa', articles_path, class: 'navbar-item is-uppercase has-text-weight-semibold has-text-grey' %>

      <%= link_to 'Asia', articles_path, class: 'navbar-item is-uppercase has-text-weight-semibold has-text-grey' %>

      <%= link_to 'Europe', articles_path, class: 'navbar-item is-uppercase has-text-weight-semibold has-text-grey' %>

      <%= link_to 'Oceania', articles_path, class: 'navbar-item is-uppercase has-text-weight-semibold has-text-grey' %>

      <%= link_to 'Antarctica', articles_path, class: 'navbar-item is-uppercase has-text-weight-semibold has-text-grey' %>
    </div>

    <div class="navbar-end">
      <%= logged_in? %>
    </div>
  </div>
</nav>